@{
    ViewBag.Title = "Да Хапнем";
}

<div class="jumbotron">
    <h1>Да Хапнем !</h1>
    <p class="lead">Поръчай онлайн - бързо, евтино, удобно!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Поръчай сега &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Най-новите предложения</h2>
        <p>
            Пиле по шуменски
        </p>
        <p><a class="btn btn-default" href="#">Поръчай &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Най-често поръчвани</h2>
        <p>Пица "Капричоза"</p>
        <p><a class="btn btn-default" href="#">Поръчай &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Други</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Поръчай &raquo;</a></p>
    </div>
</div>